<html>
    <head>
        <title> Test Boot App </title>
        <link href="/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <% include partials/nav.ejs %>
    <div class="header-container">
    <div class="video-container">
    <video preload="true" autoplay="true" loop="loop" poster="/assets/img/banner/sb_front_top_banner-3809163032.jpg">
				<source src="https://cdn-front.statusbrew.com/front/statusbrew_landing_intro.mp4" type="video/mp4">
				<source src="https://cdn-front.statusbrew.com/front/statusbrew_landing_intro.ogv" type="video/ogg">
				<source src="https://cdn-front.statusbrew.com/front/statusbrew_landing_intro.webm" type="video/webm">
				</video><!-- end of video -->
				</div><!--video container closed-->
				<h3>Discover, Grow and Engage Audience</h3>
                </div><!-- header closed -->
            <div class="custom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"><h4 class="css">Statusbrew lets you connect all your favorite social networks</h4></div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <img height="30" width="30" src="/t.png">
                            <p>Twitter</p>
                        </div>
                        <div class="col-sm-2">
                            <img height="30" width="30" src="/i.png">
                            <p>Insta</p>
                        </div>
                        <div class="col-sm-2">
                            <img height="30" width="30" src="/f.png">
                            <p>Facebook</p>
                        </div>
                        <div class="col-sm-2">
                            <img height="30" width="30" src="/l.png">
                            <p>Linkedln</p>
                        </div>
                        <div class="col-sm-2">
                            <img height="30" width="30" src="/gp.png">
                            <p>G Plus</p><br><br>
                        </div>
                    </div>
                </div>
            </div>
				    <div class="container">
				        <div class="row">
                            <br><br>
                            <h2>Over 15 million users worldwide trust Statusbrew</h2><br><br>
                            <div class="col-sm-2"></div>
				            <div class="col-sm-3">
				                <img src="/publish.png">
				                <h2 style="margin-left:-90px">Publish</h2>
                                <br><br>
                                <p>Get smarter at social</p>
                                <p style="margin-left:40px"> publishing</p>
				            </div>
                        
                        <div class="col-sm-3">
                             <img src="/aud.png">
                            <h2 style="margin-left:-90px">Audience</h2>
                            <br><br>
                            <p style="margin-left:35px">Grow your social </p>
                             <p style="margin-left:55px"> audience</p>
                         </div>
                        <div class="col-sm-2">
                            <img src="/team.png">
                            <h2 style="margin-left:-10px">Team</h2>
                            <br><br>
                            <p style="margin-left:30px">Working in teams </p>
                            <p style="margin-left:55px">simplified</p>
                        </div>
				</div>
				    </div>
                    <br><br>
                    <div class="custom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12"><h4 class="css">Statusbrew, everywhere</h4></div>
                        <div class="col-sm-12"><p class="lead size">Statusbrew is available for all devices and platforms so that you can make the most of your social media presence.</p></div>
                        <div class="col-sm-12"></div>
                        <div class="col-sm-offset-2 col-sm-4 col-sm-offset-3" ><img height="350" width="850" src="/landing.png"> </div>
                        <div class="col-sm-12"></div>
                        <div class="col-sm-12"></div>
                        <div class="col-sm-offset-4 col-sm-2">
                            <img height="50" width="150" src="/apple.png"></div>
                        <div class="col-sm-1"><img src="/google.png" height="50" width="150"></div>
                    </div>
                </div>
            </div>
                
				    

    </body>
</html>